@charset "UTF-8";

:root {
  --soft-white: #efefef;
  --soft-black: #333;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--soft-black);
}

body {
  height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  background-color: var(--soft-white);
  box-shadow: 2px 7px 10px rgba(0, 0, 0, .5);
  border-radius: 10px;
  width: 300px;
  padding: 15px;
}

#colors {
  margin: 20px 0;
}

.color-container {
  font-weight: bold;
  display: flex;
  align-items: center;
}

.color-container input {
  margin-left: 5px;
  display: flex;
  flex: 1;
}

#g-container {
  /* Por "margin: 20px 0;" gera bug */
  margin-top: 20px;
  margin-bottom: 20px;
}

#output-container {
  background-color: #0359c7;
  padding: 10px;
  border-radius: 7px;
}

#rgb-output-container,
#hex-output-container {
  display: flex;
}

#hex-output-container {
  margin-top: 5px;
}

#rgb-output,
#hex-output {
  background-color: inherit;
  color: var(--soft-white);
  width: 90%;
  text-align: center;
  border: none;
  outline: none;
}

.copy-btn {
  border: none;
  border-radius: 5px;
}

.copy-btn:hover {
  cursor: pointer;
  transform: scale(.95);
}