@charset "UTF-8";

body {
  background-color: #000;
  color: #333;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container {
  background-color: #efefef;
  padding: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, .2);
  border-radius: 10px;
  width: 360px;
}

#description {
  text-align: justify;
  letter-spacing: .1em;
  line-height: 1.2em;
}

span {
  font-weight: bold;
}

#colors {
  margin-top: 20px;
  width: 100%;
}

input[type="range"] {
  width: 93.3%;
  margin-left: 5px;
}

#g-container {
  /* Colocar "margin: 20px 0;" gera um bug */
  margin-top: 20px;
  margin-bottom: 20px;
}

#output-container {
  margin-bottom: 5px;
  background-color: #0075ff;
  color: #efefef;
  padding: 10px 0;
  border-radius: 5px;
  text-align: center;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  background-color: transparent;
  color: #efefef;
  font-weight: bold;
}

#output-container {
  margin-top: 20px;
}

#hex-output {
  margin-top: 5px;
}

.copy-btn {
  border: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 5px;
}

.copy-btn:hover {
  cursor: pointer;
}

.copy-btn:active {
  border-color: #333;
}